body {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    margin: 0;
    padding: 0;
}

.qr-code {
    width: min(100vw, 100vh);
    height: min(100vw, 100vh);
    border-radius: 50px;
    object-fit: contain;
}

.qr-code-link {
    position: absolute;
    left: 5px;
    top: 5px;
    font-family: "JetBrains Mono", monospace;
    font-size: 15px;
    background: #00e1ff;
    text-decoration: none;
    color: #000;
    padding: 10px 10px;
    border-radius: 30px;
    font-weight: 500;
}

strong {
    font-size: 18px;
    font-weight: 500;
}