body {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    margin: 0;
    padding: 0;
}

.qr-code {
    width: min(100vw, 100vh);
    height: min(100vw, 100vh);
    border-radius: 50px;
    object-fit: contain;
}