<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Обо мне</title>
    <link rel="stylesheet" href="/static/css/main.css"/>
</head>
<body>
<header>
    <nav>
        <a href="/about">Про меня</a>
        <a href="/about">Составить ТЗ</a>
    </nav>
</header>
<section class="introduce">
    <h1>
        Андрей<br>
        Караваев
    </h1>
    <h2>Fullstack Developer</h2>
    <h3>[ Берусь за проект целиком — от идеи до готового продукта.<br>Вам не нужно искать трёх разных специалистов ]</h3>
</section>
</body>
</html>